.row>*{
    float: left;
}
.row:after{
    content:'';
    display: block;
    clear:both;
}

.blur{
/**  格式，filer: blur(模糊半径)
    *  模糊半径，取值范围0~Npx，0为无效果
    */
    -webkit-filter: blur(10px);
    -moz-filter: blur(10px);
    -o-filter: blur(10px);
    -ms-filter: blur(10px);
    filter: blur(10px);
}